body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
    width: 1440px;
    background-color: hsl(229, 57%, 11%);
    color: hsl(0, 100%, 100%);
    font-size: 14px;
}

.fylo{
    position: absolute;
    height: 140px;
    width: 300px;
    background-color: hsl(228, 56%, 26%);
    margin-top: 185px;
    margin-left: 320px;
    padding: 40px 20px 25px 40px;
    border-radius: 10px;
    border-top-right-radius: 100px;
}

.files{
    display: inline-block;
    margin-top: 30px;
}

#img-document{
    background-color: hsl(229, 57%, 11%);
    height: 24px;
    width: 20px;
    padding: 15px 17px 15px 17px;
    border-radius: 10px;
    margin-right: 13px;
}

#img-folder{
    background-color: hsl(229, 57%, 11%);
    height: 20px;
    width: 24px;
    padding: 18px 14px 15px 14px;
    border-radius: 10px;
    margin-right: 13px;
}

#img-upload{
    background-color: hsl(229, 57%, 11%);
    height: 18px;
    width: 24px;
    padding: 17px 15px 18px 15px;
    border-radius: 13px;
}

.bar-container{
    position: absolute;
    height: 145px;
    width: 500px;
    background-color: hsl(228, 56%, 26%);
    margin-top: 240px;
    margin-left: 720px;
    padding: 0px 30px 5px;
    border-radius: 10px; 
}

p.data-bar {
    color: hsl(243, 100%, 93%);
    margin-top: 40px;
}

#background-bar{
    height: 20px;
    width: 487px;
    background-color: hsl(229, 57%, 15%);
    border-radius: 50px;
}

#bar{
    position: relative;
    top: -17px;
    left: 2.6px;
    height: 15px;
    width: 350px;
    border-radius: 50px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

p#zero-gb{
    position: absolute;
    font-weight: 700;
    top: 85px;
    color: hsl(243, 100%, 93%);
}

p#mil-gb{
    position: absolute;
    font-weight: 700;
    color: hsl(243, 100%, 93%);
    top: 85px;
    left: 460px;
}


.baloon{
    background-color: hsl(0, 100%, 100%);
    position: relative;
    color: hsl(0, 100%, 0%);
    padding: 15px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-top: -150px;
    margin-left: 308px;
}

.baloon:before{
    position: absolute;
    content: '';
    width: 1px;
    height: 1px;
    bottom: -8px;
    left: 139.5px;
    transform: rotate(45deg);
    border: solid 30px transparent;
    border-bottom: solid 30px hsl(0, 100%, 100%);
    border-top: none;
}

.baloon p {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: -5px;
    color: hsl(0, 100%, 0%);
}

.baloon span{
    font-size: 14px;
    text-transform: uppercase;
    color: hsl(229, 7%, 55%);
}

footer{
    background-image: url(images/bg-desktop.png);
    background-size: 1600px auto;
    background-repeat: no-repeat;
    height: 740px;
    width: 1600px;
    background-position: bottom;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color:  hsl(100, 0%, 100%); 
    position: fixed;
    transform: translate(1000px, 650px);
}
.attribution a { 
    color: hsl(0, 100%, 70%); 
}