body{
    margin: 0px;
    padding: 0px;
    width: 1440px;
    font-family: 'Raleway';
    background-color: hsl(229, 57%, 11%);
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    color: hsl(0, 100%, 100%);
}

.container{
    min-height: 740px;
}

.fylo{
    position: absolute;
    height: 155px;
    width: 300px;
    background-color: hsl(228, 56%, 26%);
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
    border-top-right-radius: 100px;
    margin-top: 200px;
    margin-left: 10px;
}

.files{
    display: inline-block;
    margin-top: 30px;
}

#img-document{
    background-color: hsl(229, 57%, 11%);
    height: 24px;
    width: 20px;
    padding: 15px 17px 15px 17px;
    border-radius: 10px;
    margin-right: 13px;
}

#img-folder{
    background-color: hsl(229, 57%, 11%);
    height: 20px;
    width: 24px;
    padding: 18px 14px 15px 14px;
    border-radius: 10px;
    margin-right: 13px;
}

#img-upload{
    background-color: hsl(229, 57%, 11%);
    height: 18px;
    width: 24px;
    padding: 17px 15px 18px 15px;
    border-radius: 13px;
}

.bar-container{
    position: absolute;
    height: auto;
    width: 600px;
    background-color: hsl(228, 56%, 26%);
    margin-top: 100px;
    margin-left: 500px;
    padding: 30px;
    border-radius: 10px;
}

.baloon{
    background-color: hsl(0, 100%, 100%);
    color: hsl(0, 100%, 0%);
    padding: 10px;
    width: 150px;
    height: 150px;
    position: relative;
}

.baloon:before{
    background-color: hsl(0, 100%, 100%);
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -20px;
    left: 50%;
     border-left: 30px solid hsl(0, 100%, 50%);
    border-right:  30px solid hsl(0, 100%, 50%);
    border-top: 30px solid hsl(0, 100%, 50%);
   
}

#background-bar{
    height: 20px;
    width: 580px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 50px;
}

#bar{
    position: absolute;
    top: 119px;
    left: 33px;
    height: 15px;
    width: 400px;
    border-radius: 50px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

/*---------------------------------------------------*/
.attribution { font-size: 11px; text-align: center; color:  hsl(100, 0%, 100%); }
.attribution a { color: hsl(0, 100%, 70%); }